

.thumbnail{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
img.detail-image{
  aspect-ratio: 16 / 9;
  object-fit: cover;
  height: 500px;
  max-width: 800px;
  width: 100%;
  border-radius: 35px;
}
.detail-image{
    margin: auto;
    z-index: 5;
    margin-top: -350px;
    height: 450px;
    width: 800px;
}

.carousel-item {
  padding: 0 10px; /* gap between thumbnails */
  width: 150px !important; 
}
.gallery-wrapper {
    max-width: 800px;
    width: 100%;
    display: grid;

}