
.react-multi-carousel-list{
   position: initial; 
}
.thumbnail{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
img.detail-image{
  aspect-ratio: 16 / 9;
  object-fit: cover;
  height: 500px;
  max-width: 800px;
  width: 100%;
  border-radius: 35px;
}
.detail-image{
    margin: auto;
    z-index: 5;
    margin-top: -350px;
    height: 450px;
    width: 800px;
}

.carousel-item {
  padding: 0 10px; /* gap between thumbnails */
  width: 150px !important; 
}
.gallery-wrapper {
    max-width: 800px;
    width: 100%;
    display: grid;

}
.gallery-wrapper {
  position: relative;
}
@media print {
  .gallery-wrapper{
    display: none;
  }
}
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--color-clay);
  color: white;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

/* push arrows into the white space */
.custom-arrow.left {
  left: -30px;
}

.custom-arrow.right {
  right: -40px;
}


@media screen and (max-width: 1080px) {
  img.detail-image{
    height: 325px;
   }
}
@media screen and (max-width: 786px) {

    img.detail-image{
    height: 275px;
    }
    .detail-image{
      margin-top: -225px;
    } 
    .gallery-wrapper {
        margin: 25px auto; 
        width: 215px;
        z-index: 1000;
    }
    .thumbnail{
        width: 200px;
        height: 200px;
        object-fit: cover;
        text-align: center;
    }
    .carousel-item {
        padding: 0 10px;
        width: auto !important;
     
    }
   
}