.hero-bg {
  background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 550px;
    max-height: 550px;
    height: 100%;
    margin-top: -100px;
    display: grid;
    place-items: center;
    background-color: var(--color-overlay);
    background-blend-mode: overlay;
}

.grid-1-col{
    grid-column: 1;
    text-align: center;
}
.grid-1-col p{
  color: var(--color-white);
}
@media screen and (max-width:  786px) {
  .hero-bg{
    min-height: 425px;
  }
  
}
@media print {
  .hero-bg{
  display: none;
  }
}