.heroBg {
  background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 550px;
    max-height: 550px;
    height: 100%;
    margin-top: -100px;
    display: grid;
    place-items: center;
    background-color: var(--color-overlay);
    background-blend-mode: overlay;
}
.heroBgImg {
  object-fit: cover;
  z-index: -1;
  height: 100%;
  max-height: 550px;
}

.grid1Col{
    grid-column: 1;
    text-align: center;
}
.grid1Col p{
  color: var(--color-white);
}
@media screen and (max-width:  786px) {
  .heroBg{
    min-height: 425px;
  }
  
}
@media print {
  .heroBg{
  display: none;
  }
}