.heroBg {
  background-size: cover;
    background-position: center;
    width: 100dvw;
    max-height: 100dvh;
    height: 100%;
    margin-top: -100px;
    display: flex;
    place-items: center;
    background-color: var(--color-overlay);
    background-blend-mode: overlay;
    justify-content: center;
}
.heroBgImg {
  object-fit: cover;
  z-index: -1;
  height: 100%;
  max-height: 100dvh;
  width: 100dvw;
}

.grid1Col{
    position: absolute;
    max-width: 800px;
    text-align: center;
}
.grid1Col p{
  color: var(--color-white);
}
@media screen and (max-width:  786px) {
  .heroBgImg{
    max-height: 65dvh;
  }
  
}
@media print {
  .heroBg{
  display: none;
  }
}