.mainbody{
    min-height: 1500px;
}

.section_img {
    max-width: 450px;
    width: 100%;
    border-radius: 12px;
    position: absolute;
    top: -100px;
    z-index: 10;
    object-fit: contain;
    right: -150px;
}

.firstsectioncard{
    border-radius: 12px;
    column-count: 1;
    max-width: 400px;
    width: 100%;
    background-color: var(--color-eucalyptus);
    text-align: center;
    padding: 20px;
    position: relative;
    left: 40px;
    top: -130px;
    z-index: 1;
    place-content: center;
}
.firstsectioncard p{
    margin: 10px 0px;
}
.secondsectioncard{
    column-count: 1;
    max-width: 500px;
    height: 225px;
    width: 100%;
    background-color: var(--color-olive);
    text-align: center;
    padding: 20px;
    position: relative;
    right: 250px;
    z-index: 0;
    top: 35px;
    border-radius: 12px;
}
.midSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    max-width: 1200px;
    width: 90%;
    margin: 40px auto;
   column-gap: 40px;
}
.container {
    column-count: 1;
    padding: 40px 20px;
    border-radius: 12px;
    justify-items: center;
    background-color: var(--color-clay);
}
.container h2{
    text-align: center;
}

.mainbody h1{
    color: var(--color-linen);
}
.goToSearch{
    background-color: var(--color-mustard);
    height: 30px;
    width: 50%;
    margin: auto;
    padding: 10px 0px;
    display: block;
    border-radius: 6px;
    color: var(--color-linen);
    place-content: center;
}
.reversefirstsectioncard{
    border-radius: 12px;
    column-count: 1;
    order: 2;
    max-width: 400px;
    height: 225px;
    width: 100%;
    background-color: var(--color-light-turmeric);
    text-align: center;
    padding: 20px;
    position: relative;
    left: 40px;
    top: 0px;
    z-index: 1;
    place-content: center;
}
.reversesecondsectioncard{
    column-count: 1;
    max-width: 450px;
    order: 1;
    height: 225px;
    width: 100%;
    background-color: var(--color-mustard);
    text-align: center;
    padding: 20px;
    position: relative;
    left: 50px;
    border-radius: 12px;
    z-index: 1;
    top: 50px;
}
.reversesection_img {
    max-width: 500px;
    width: 100%;
    border-radius: 12px;
    position: absolute;
    top: 100px;
    z-index: 1000;
    object-fit: cover;
    left: 200px;
}

@media screen and (max-width: 1080px){   
    .section_img {
        position: unset;
    }
.midSection{
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3 equal-width columns */
    max-width: 1200px;
    width: 90%;
    margin: 40px auto;
   row-gap: 40px;
}
    .firstsectioncard{
        position: unset;
        height: auto;  
        padding: 50px;   
    }
    .secondsectioncard{
        position: unset;
        height: auto;
    }
    .goToSearch{
        width: 80%;
    }
    .reversefirstsectioncard{     
        position: unset;
        height: auto;
        padding: 55px;
        max-width: 300px;
        width: 80%;
        order: 1;
    }
    .reversesecondsectioncard{
        height: auto;
        max-width: 500px;
        position: unset;
    }
    .reversesection_img {
        position: unset;
    }
}
@media screen and (max-width: 786px) {
    .firstsectioncard{
        width: 80%;
    }
    .midSection{
        width: 80%;
    }
}