.mainbody{
    min-height: 1500px;
    height:  100%;
}

.container {
    column-count: 1;
    padding: 40px 20px;
    border-radius: 12px;
    justify-items: center;
    background-color: var(--color-clay);
}
.container h2{
    text-align: center;
}

body h1{
    color: var(--color-linen);
}
.goToSearch{
    background-color: var(--color-mustard);
    height: 30px;
    width: 50%;
    margin: auto;
    padding: 10px 0px;
    display: block;
    border-radius: 6px;
    color: var(--color-linen);
    place-content: center;
}

/* for new deisgn */
.wrapper{
    width: 100dvw;
    padding: 40px 20px;
    justify-content: center;
    background-color: var(--color-clay-background);
    display: flex;
}
.wrapper:nth-child(odd){
    background-color: var(--color-turmeric-background);
}
.wrapper .container-new {
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    align-items: center;
}
.col-large{
    width: 50%;
        padding: 20px;

}

.col-large img:not(#randomImage){
    border-radius: 12px;
    box-shadow: 20px 25px 20px #00000040;
}


@media screen and (max-width: 1080px){   
    .goToSearch{
        width: 80%;
    }
    .col-large{
    width: 50%;
}
 
}
@media screen and (max-width: 786px) {
   .col-large{
    width: 100%;
}
.col-large img{
    width: 350px;
    height: 250px;
}
.wrapper .container-new {

    flex-direction: column;
}
.wrapper{
    width: 100%;
}
   
}