.mainbody{
    min-height: 1500px;

}

.section_img {
    max-width: 450px;
    width: 100%;
    border-radius: 12px;
    position: absolute;
    top: -100px;
    z-index: 10;
    object-fit: contain;
    right: -150px;
}

.firstsectioncard{
    border-radius: 12px;
    column-count: 1;
    max-width: 400px;
    width: 100%;
    background-color: #D9DDD4;
    text-align: center;
    padding: 20px;
    position: relative;
    left: 40px;
    top: -130px;
    z-index: 1;
    place-content: center;
}
.firstsectioncard p{
    margin: 10px 0px;
}
.secondsectioncard{
    column-count: 1;
    max-width: 500px;
    height: 225px;
    width: 100%;
    background-color: #9CA89A;
    text-align: center;
    padding: 20px;
    position: relative;
    right: 250px;
    z-index: 0;
    top: 35px;
    border-radius: 12px;
}
.midSection{
     display: grid;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 40px 0px;
    justify-items: center;
    background-color: var(--color-clay);
}
.midGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    grid-template-rows: auto 1fr;
    column-gap: 4em;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    padding: 40px 0px;
    height: 375px;
    justify-items: center;
}
.gridTitle {
  grid-column: 1 / -1; /* span all columns */
  text-align: center;
  margin-bottom: 1rem;
}

.midCol{
    max-width: 400px;
    width: 100%;
    place-content: center;
    border-radius: 275px 85px;
}
.midCol img{
    height: 275px;
    max-width: 400px;
    object-fit: cover;
    width: 100%;
    border-radius: 175px 75px ;
    box-shadow: 10px 10px 10px var(--color-wheat);
}
.midButton{
    max-width: 225px;
    width: 100%;
    border-radius: 6px;
    font-family: ptags;
    text-transform: uppercase;
    height: 40px;
    background-color: var(--color-terracotta);
    color: var(--color-linen);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -60px;
    bottom: 75px;
    font-size: calc(1rem - 4px) ;
}
h1{
    color: var(--color-linen);
}
.goToSearch{
    background-color: var(--color-mustard);
    height: 30px;
    width: 50%;
    margin: auto;
    padding: 10px 0px;
    display: block;
    border-radius: 6px;
    color: var(--color-linen);
    place-content: center;
}
.reversefirstsectioncard{
    border-radius: 12px;
    column-count: 1;
    order: 2;
    max-width: 400px;
    height: 225px;
    width: 100%;
    background-color: var(--color-light-turmeric);
    text-align: center;
    padding: 20px;
    position: relative;
    left: 40px;
    top: 0px;
    z-index: 1;
    place-content: center;
}
.reversesecondsectioncard{
    column-count: 1;
    max-width: 450px;
    order: 1;
    height: 225px;
    width: 100%;
    background-color: var(--color-mustard);
    text-align: center;
    padding: 20px;
    position: relative;
    left: 50px;
    border-radius: 12px;
    z-index: 1;
    top: 50px;
}
.reversesection_img {
    max-width: 500px;
    width: 100%;
    border-radius: 12px;
    position: absolute;
    top: 100px;
    z-index: 1000;
    object-fit: contain;
    left: 200px;
}

@media screen and (max-width: 1080px){
    
    .section_img {
        position: unset;
    }

    .firstsectioncard{
        position: unset;
        height: auto;  
        padding: 65px;   
    }
    .secondsectioncard{
        position: unset;
        height: auto;
    }
    .midGrid{
        max-width: 425px;
        height: auto;
        grid-template-columns: repeat(1, 1fr); /* 3 equal-width columns */

    }
    .midCol{
        position: unset;
        margin: 20px;

    }
    .midButton{
        left: 80px;
    }
    .goToSearch{
    }
    .reversefirstsectioncard{     
        position: unset;
        height: auto;
        padding: 70px;
        max-width: 300px;
        width: 80%;
        order: 1;
    }
    .reversesecondsectioncard{
        height: auto;
        max-width: 500px;
        position: unset;
    }
    .reversesection_img {
        position: unset;
    }
}
@media screen and (max-width: 786px) {
    .midCol{
        height: 275px;
    }
    
}