.sectionGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 equal-width columns */
    gap: 20px; /* space between grid items */
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 40px 0px;
    height: 275px;
    opacity: 0; /* Initially transparent */
    transition: transform 0.5s ease-in, opacity 0.5s ease-in; /* Transition for both properties */
}

.visible {
    opacity: 1; /* Fully visible */
}

@media screen and (max-width: 1080px) {
    .sectionGrid{
        grid-template-columns: repeat(1, 2fr);
        height: auto;
        place-items: center;
        width: 80%;

    }
    
}