.headContainer{
    display: flex;
    position: absolute;
    top: 0px;
    height: 100px;
    z-index: 1000;
    width: 100%;
    background-color: rgba(248, 245, 242, 0.6); /* Linen tint overlay */
    position: sticky;
    top: 0px;
}

/* .headContainer:hover{
      background-color: rgba(248, 245, 242); 
} */

.headContent{
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: auto;
}



 .row {
    display: flex;
    justify-content: space-evenly;
    max-width: 450px;
    width: 100%;
}

 .desktopOnly a {
    height: 30px;
    width: 100px;
    background-color: var(--color-turmeric);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 6px;
    box-shadow: 1px 5px 0px var(--color-terracotta);
}
.mobileOnly {
  display: block;
}

.desktopOnly {
  display: none;
}

@media (min-width: 768px) {

  .mobileOnly {
    display: none;
  }
  .desktopOnly {
    display: contents;
  }

  .headContent{
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
      #nav nav {
    width: 125px;
  }
     .row {
    display: flex;
    justify-content: space-evenly;
    max-width: 150px;
    width: 100%;
}

}

@media print {
  .headContainer{
  display: none;
  }
}