.search-input-container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    margin: auto;
}

.search-input-container label{
    width: 80%;
}

.search-input{
    width: 100%;
    max-width: 725px;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 16px;
}
.filter-input-container{
    max-width: 1200px;
    width: 96%;
    display: flex;
    justify-content: start;
    padding: 20px 0px;
    margin: auto;
    align-items: center;
}
button{
    background-color: var(--color-terracotta);
    border-radius: 12px;
    color: var(--color-linen);
    border: none;
    max-width: 150px;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
}
/* .tag-filter{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}
.tag-filter button{
    text-align: center;
    max-width: 125px;
    padding: 0px 10px;
    height: 40px;
    border-radius: 6px !important;
    width: 100%;
    min-width: 100px;
    margin: 0px 5px;
}
.tag-filter button.active{
    background-color: var(--color-terracotta);
    color: white;
    box-shadow: 0 0 6px 4px rgba(201, 123, 99, 0.7);
    transform: translateY(-1px); 
} */

.cat-filter{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}
.cat-filter button{
    text-align: center;
    max-width: 125px;
    padding: 0px 10px;
    height: 40px;
    border-radius: 6px;
    width: 100%;
    min-width: 100px;
    margin: 0px 5px;
    background-color: var(--color-turmeric);
}
.cat-filter button.active{
    background-color: var(--color-turmeric);
    color: white;
    box-shadow: 0 0 6px 4px rgba(226, 183, 20, 0.7);
    transform: translateY(-1px); 
}

.clear-btn{
 
    background-color: var(--color-sage);
}
.results-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    grid-template-rows: repeat(3, auto);   /* 3 rows that size to content */
    gap: 20px; /* space between grid items */
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: auto; 
}
.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid var(--color-terracotta);
  cursor: pointer;
  width: 80px;
  background: var(--color-linen);
  color: var(--color-terracotta);
}

.pagination button.active-page {
  background: var(--color-sage);
  color: var(--color-linen);
}


@media screen and (max-width: 1080px) {
    .results-grid{
        width: auto;
        place-items: center;
       grid-template-columns: repeat(1, 1fr); /* 3 equal-width columns */
    grid-template-rows: repeat(3, auto);   /* 3 rows that size to content */
    }
    .search-input-container{
        display: grid;
        justify-content: stretch;
          gap: 20%;
          width: 87%;
    }
    .search-input{
        max-width: 350px;
    }
    .filter-input-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 4%;
        width: 90%;
    }
    .cat-filter{
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(3, 2fr); /* 3 equal-width columns */
        margin-bottom: 20px;
    }
}