.section-grid{
    display: grid;
    align-content: center;
    max-width: 800px;
    width: 100%;
    margin: auto;
}
.sectionCol1{
    margin: auto;
    column-count: 1;
}
.sectionCol1 p{
    margin: 20px 0px;
}
.timeRow{
    display: flex;
    justify-content: space-between;
    max-width: 775px;
    width: 100%;
    margin: 20px auto;
    font-weight: 700;
}
.ingredientCol{
    column-count: 1;
    max-width: 940px;
}
.detail-image{
    margin: auto;
    z-index: 5;
    margin-top: -200px;
}
img.detail-image{
 height: 450px;
 max-width: 800px;
 width: 100%;
 border-radius: 80px;
}
.sectionCol2{
    margin: auto;
    column-count: 2;
}
.detail-container{
    max-width: 1200px;
    margin: auto;
}

ol {
    list-style: none;
    padding: 0px;
}

ol li {
    padding: 10px 0px ;
}

@media screen and (max-width: 1080px) {
   .section-grid{
    width: 80%;
   }  
   img.detail-image{
    height: 325px;
   }
}
@media screen and (max-width: 786px) {
   .section-grid{
    width: 80%;
   }  
      img.detail-image{
    height: 225px;
   }
}
@media print {
  aside {
  display: none;
  }
  .section-grid{
    padding-top: 200px;
  }

}
