.mobileNav{
    position: relative;
    flex-direction: row-reverse;
}
.mobileMenuBtn{
    height: 30px;
    width: 100px;
    background-color: var(--color-turmeric);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 5px 0px var(--color-terracotta);
}

.mobileDropDown {
    display: none;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: 0.3s ease, opacity 0.3s ease;
}

/* When dropdown is open */
.mobileDropDown.open {
     opacity: 1;
    max-height: 24rem;
    position: absolute;
    top: 60px;
    width: 150px;
    height: 200px;
    background: var(--color-linen);
    display: grid;
    justify-content: center;
    align-content: space-around;
    right: 0px;
    border-radius: .5rem;
}

/* Desktop rules */
@media (min-width: 768px) {
  .mobileDropDown {
    max-height: none;
    opacity: 1;
    display: flex;
    flex-direction: row;
    gap: 1rem; /* same as gap-4 */
  }
}
