.sectionGrid{
    display: grid;
    align-content: center;
    max-width: 1080px;
    width: 100%;
    margin: auto;
}
.titleWrapper{
    display: flex;
    justify-content: center;
}
   img.detailImage{
    height: 500px;
    margin: auto;
    object-fit: cover;
    max-width: 1080px;
    width: 90dvw;
    }
.blogTitle{
    color: var(  --color-olive);
    margin: 20px 0px;
}
.sectionCol1{
    margin: auto;
    column-count: 1;
}
.sectionCol1 p{
    margin: 20px 0px;
}
.detail-container{
    max-width: 1200px;
    margin: auto;
}
#blog h2{
    text-align: left;
}

@media screen and (max-width: 1080px) {

}
@media screen and (max-width: 786px) {
   .sectionGrid{
    width: 90%;
   }  
      img.detailImage{
    height: 275px;
    }
    .detailImage{
      margin-top: --90px;
    }
       .sectionGrid{
    width: 90%;
   }  
      img.detailImage{
    height: 325px;
    width: 300px;
   }
    .sauce-grid{
    grid-template-columns: repeat(1, 1fr);
    }   
}
