/* Optional: Global icon styling */
.fa, .fas, .far, .fab {
  display: inline-block;
  vertical-align: middle; /* align with text */
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
i {
    margin-right: 5px;
}
/* Example: make all check icons green */
.fa-times, .fa-filter, .fa-cutlery, .fa-clock-o, .fa-users, .fa-list-ol, .fa-shopping-bag, .fa-mobile, .fa-clock, .fa-share,  .fa-facebook-f
, .fa-book, .fa-certificate {
  display: contents;
  color: var(--color-sage);
  font-size: 1rem;
  height: 20px;
  width: 20px;
  padding: 10px;
  display: flex;
  text-align: center;
  align-content: center;
}

/* Example: size helpers */
.icon-small {
  font-size: 0.8em;
}
.icon-large {
  font-size: 1.5em;
}

li {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  align-items: center;
  margin: 5px auto;
}
