/* Optional: Global icon styling */
.fa, .fas, .far, .fab {
  display: inline-block;
  vertical-align: middle; /* align with text */
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
i {
    margin-right: 5px;
}
/* Example: make all check icons green */
.fa-times, .fa-filter, .fa-cutlery, .fa-clock-o, .fa-users, .fa-list-ol, .fa-shopping-bag, .fa-mobile, .fa-clock, .fa-share,  .fa-facebook-f
, .fa-book, .fa-certificate {
  display: contents;
  color: var(--color-linen);
  font-size: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--color-sage);
  padding: 5px;
  border-radius: 25px;
  display: flex;
  text-align: center;
  align-content: center;
}

/* Example: size helpers */
.icon-small {
  font-size: 0.8em;
}
.icon-large {
  font-size: 1.5em;
}


